*{
    margin-top: 45px;
    margin-left: 50px;
    font-size: 30px;
}

button{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: white;
}

button:hover{
    background-color: #892727;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

button {
    width: 100px;
    height: 100px;
    font-size: 30px;
    position: relative;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    outline: none; /* Be cautious with accessibility */
}

#reset{
    display: flex;
    position: absolute;
    left: 420px;
    top: 140px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 0;
    cursor: pointer;
    color: #08ab6f;
    font-family: Playwrite PL, sans-serif;
}

button:focus-visible {
    outline: 2px solid blue; /* Example focus-visible style */
}